@import '_vars';
@import '_mixin';
.comment{
	margin-top: 20px;
	display: flex;
	background-color: $white;
	border-radius: 5px;

	&__points{
		width: 70px;
		height: 100px;
		margin: 20px 20px 20px;
		background-color: $lgrey;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		border-radius: 5px;
		&__point{
			@include points();
		}
		&__img{

			fill: $mblue;
			text-align: center;
			cursor: pointer;
			
		}
	}
	&__body{
		width: 100%;
		margin: 20px 20px 20px 0;
		&__title{
			display: flex;
			align-items: center;
			justify-content: space-between;
			
			&__all{
				display: flex;
				align-items: center;
			}
			&__img{
				width: 32px;
				height: 32px;
			}
			&__name{
				@include points($dblue);
				margin-right: 20px;
				margin-left: 20px;
			}
			&__time{
				@include points(grey);
				margin-right: 20px;
			}
			&__reply{
				@include points($lblue);
				
				&__all{
					margin-right: 20px;
					&:hover{
						cursor: pointer;
					}
				}
			}
		}
		&__text{
			@include points($gblue);
			font-weight: 400;
			
	}
	}	


}