@import '_vars';
@import '_mixin';
.wrapper{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	left: 0;
	top: 0;

}
.modal{
	width: 250px;
	height: 160px;
	border-radius: 5px;
	background-color: $vlgrey;
	padding: 20px;
	position: absolute;
	top: 40%;
	left: 40%;
	&__title{
		@include points($dblue);
		font-size: 20px;
		margin-bottom: 20px;

		&__all{
			display: flex;
			justify-content: space-between;
			&__h{
				@include points($sred);
				font-size: 20px;
			}
			&__close{
				color: $sred;
				font-size: 20px;
				cursor: pointer;
			}
		}
	}
	&__p{
		@include points($gblue);
		margin-bottom: 20px;
	}
	&__buttons{
		display: flex;
		justify-content: space-around;

		&__no{
			width: 100px;
			height: 30px;
			border: none;
			border-radius: 5px;
			background-color: $dblue;
			color: $white;
			cursor: pointer;
		}
		&__yes{
			width: 100px;
			height: 30px;
			border: none;
			border-radius: 5px;
			background-color: $sred;
			color: $white;
			cursor: pointer;
		}
	}
}
.active{
	display: block;
}