@import '_vars';
@import '_mixin';
.reply{
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
	background-color: $white;
	border-radius: 5px;
	&__img{
		margin: 20px 0 20px 20px;
		width: 40px;
		height: 40px;
	}
	&__form{
		margin-left: 20px;
		margin-top: 20px;
		&__id {display: none;};
		&__name {display: none};

		&__input{
			border:1px solid $mblue;
			border-radius: 5px;
			width: 560px;
			height: 60px;
			resize: vertical;
			padding: 20px;
			margin-bottom: 16px;

		
		}
		&__btn{
			width: 80px;
			height: 35px;
			color: $white;
			background-color: $mblue;
			border-radius: 5px;
			margin-left: 20px;
			border: none;
			&:hover{
			cursor: pointer;
			background-color: $lblue;

			}
		}	
		&__all{
			display: flex;
			align-items: flex-start;
			
		}
	}
}	