// mobile
$mobile: minmax(100px, 375px);
$desctop: minmax(376px, 1440px);
// colors
$mblue: hsl(238, 40%, 52%);
$sred: hsl(358, 79%, 66%);
$lblue: hsl(239, 57%, 85%);
$pred: hsl(357, 100%, 86%);
// backgroundcolors
$dblue: hsl(212, 24%, 26%);
$gblue: hsl(211, 10%, 45%);
$lgrey: hsl(223, 19%, 93%);
$vlgrey: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);