@import "../fonts/fonts";
@mixin section(){
	width: 100%;
	
		@media($desctop){
		width: 1800px;
		margin: 0 auto;
		}
	
}
@mixin h1($color: $titleColor){
	color: $color;
	font-family: comic;
	font-size: 5rem;
}
@mixin p1($color: $parColor){
	color: $color;
	font-family: comic;
	font-size: 3rem;
}
@mixin h2($color: $parColor){
	color: $color;
	font-family: comic;
	font-size: 2rem;
}