$titleColor: #707070;
$parColor: #303030;
$menuColor: #686868;
$menuItemColorHover: #fff;
$menuBackgroundColor: #cae7fc;
// screen//
$tablet: 'min-width: 767px';
$desctop: 'min-width: 1024px';
$projector: 'min-width: 1200px';