@import"../utils/index";
.footer{
	@include section();
	height: 15rem;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(203,246,39,0) 0%, rgba(48,243,241,1) 85%, rgba(184,239,59,1) 100%, rgba(170,234,74,1) 100%, 
	rgba(126,219,121,1) 100%, rgba(152,228,93,1) 100%, rgba(0,176,255,1) 100%);
	box-shadow: 0 5px 10px;
	&__menu{
		display: flex;
		flex-direction: column;
		align-items: center;
		
		
		@media($desctop){
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			
		}
		&__items{
			@include p2();
			font-size: 3rem;
			margin-top: 1rem;
			text-decoration: none;
			&:hover{
				cursor: pointer;
			}
			
		}
	}
	&__social{
		display: flex;
		justify-content: center;
		margin-top: 2rem;
		
		&__icon{
			margin-right: 2rem;
			font-family: socialico;
			font-size: 3rem;
			color: #686868;
		}
	}
}	