@import"../utils/index";

.header{

	@include section();
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(203,246,39,0) 0%, rgba(48,243,241,1) 85%, rgba(184,239,59,1) 100%, rgba(170,234,74,1) 100%, 
	rgba(126,219,121,1) 100%, rgba(152,228,93,1) 100%, rgba(0,176,255,1) 100%);
	box-shadow: 0 5px 10px;
	
	&__title{
		@include h1();
		margin: 0.2rem 0 0 0.2rem;
		transition: 0.5s;
		&:hover{
			transform-origin: left center;
			transform: scale(1.2);

		}
	}
	&__text{
		@include p1();
		margin-left: 0.2rem;
		text-shadow: 0.5rem;
		margin-bottom: 0.2rem;
		overflow-wrap: wrap;
	}	
	&__menu{
		

		
		&__items{
			display: flex;
			flex-direction: column;
			list-style: none;
			color: $menuColor;
			font-size: 4rem;
			margin-right: 1rem;	
				
									
				@media($desctop){
				flex-direction: row;
				padding: 0;
				justify-content: space-around ;
				font-size: 3rem;
				margin-right: 2rem;	
				align-items: center;
				}
			&__li{
				position: relative;
				width: 30rem;

				&:hover > ul {
					display: initial;

					
				}

				&__a{
					display: block;
					padding: 1rem 1rem;
					text-decoration: none;
					color: $menuColor;
					&__ul{
						display: none;
						position: fixed;
						width: 100%;
						top: 37rem;
						box-shadow: 0 0.5rem 1rem;
						background-color: $menuColor;
						@media($tablet){
							position: absolute;
							top: 5rem;
							top: 0;
							transform: translateX(25rem);
						}
						@media($desctop){
							position: absolute;
							top: 5rem;
							transform: translateX(0);
							width: 100%;
							
						}






						// @media($desctop){
						// 	width: 100%;
						// 	top: 0;
						// }
						


					}
					&__li{
						margin-top: 1px;
						&:first-child{
							margin-top: 0;
						}
						padding: 1.5rem;
						background-color: $menuBackgroundColor;
						&__a{
							text-decoration: none;
							color: $menuColor;
						}
						
					}

					
			}	}
		}
		
	}
}	
