@import"../utils/index";

.header{

	@include section();
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(203,246,39,0) 0%, rgba(48,243,241,1) 85%, rgba(184,239,59,1) 100%, rgba(170,234,74,1) 100%, 
	rgba(126,219,121,1) 100%, rgba(152,228,93,1) 100%, rgba(0,176,255,1) 100%);
	&__item{
		display: flex;
		width: 1780px;
		padding: 0 0;
		justify-content: space-between;
				
	}

	&__item__backet
		.btn{
		position: relative;
		width: 250px;
		height: 60px;
		Border-radius: 5px;
		font-size: 30px;
		border-color: $parColor;
		border-radius: 10px;
		right: 10px;
		color: $parColor;
		top: 0;
		padding-left: 30px;
		




		&:before{
			content: "";
			display: block;
			position: absolute;
			width: 50px;
			height: 50px;
			background-image: url(../icons/backet.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			margin: 0;
			padding: 0;
			Left: 40px;
			top: 0;
			}


	}

	&__title{
		@include h1();
	}
	&__item__text__p{
		@include p();
		width: 700px;
		border: 1px solid $parColor;
		text-align: center;
		border-radius: 100px 30px 100px 30px / 50px 30px 50px 30px;
		margin-top: 0;
		padding: 0;

	}
}	
