@import"../utils/index";
.menu{
	
	@include section();
	
		&__items{
		display: flex;
		flex-direction: column;
		align-items: center;
			&__videos{
				@media($desctop){
					width: 100%;
					display: flex;
					justify-content: space-around;
					margin-top: 5rem;
					margin-bottom: 5rem;
				}
				
			}
		
			&__videos__video__title{
				@include h2($menuColor);
			}
			&__photos{
				@media($tablet){
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr;
					
				&__photo__img{
					margin-right: 1rem;
					margin-left: 1rem;
				}
				}
				@media($desctop){
					width: 100%;
					display: flex;
					justify-content: space-around;
				}
				&__photo__title{
				@include h2($menuColor);
				}
				&__photo__text{
					@include p2($menuColor);
				}	
			}
		}


}