@import"../utils/index";
.menu{
	
	@include section();
	
		&__items{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
			&__videos{
				// display: none;
				@media($desctop){
					width: 100%;
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 1fr 1fr;
					justify-items: center;
					margin-top: 5rem;
					margin-bottom: 5rem;
				}
				
			}
		
			&__videos__video__title{
				@include h2($menuColor);
			}
			&__photos{

				@media($tablet){
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					}
				@media($desctop){
					width: 100%;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					grid-template-rows: auto;
					justify-items: center;
					margin-left: 3rem;
					
				}	
					
				&__photo__img{
					margin-right: 1rem;
					margin-left: 1rem;
					width: 43rem;
					height: 43rem;	
					@media($desctop){
						width: 30rem;
						height: 30rem;
						object-fit: cover;
					}
				}
				
				&__photo__title{
				@include h2($menuColor);
				margin-left: 0.5rem;
				}
				&__photo__text{
					@include p2($menuColor);
					margin-left: 0.5rem;
					font-size: 2rem;
					
					@media($tablet){
						margin-right: 1rem;
						font-size: 2rem;
					@media($desctop){
						margin-right: 6rem;
					}
					}
				}
			}
		}


}