.App {
  text-align: center;
}
h1 {
  font-size: 30px;
  margin-top: 20px;
}
button {
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px;
  border: none;
  cursor: pointer;
}
.card {
  width: 200px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
}
.inp {
  margin-left: 10px;
  margin-right: 10px;
}
form {
  font-size: 30px;
}
label {
  display: block;
}
