.persons {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 auto;
}
