//colors
$white: #fff;
$grey: #989898;
$primaryColor: #445161;
$secondaryColor:#445162;
$textColor: #333333;
$lightGrey: #ebebeb;
$grey3: #f5f5f5;


//fonts
$mainFont: Arial, sans-serif;
$iconFont: 'socialico';



//screens
$tablet: 'min-width: 767px';
$desctop: 'min-width: 1024px';


//shadow
$mainShadow: 0.5px 0.9px 0px rgba(0,0,0,0.3);