@import './vars';
@import '../fonts/fonts';
@import './_reset';
@import './_mixins';
@import '../layout/_stage';
@import '../layout/_features';
@import '../layout/_about';
@import '../layout/_screenshot';
@import '../layout/_reviews';

.container{
	width: 100%;
	max-width: 118rem;
	margin: 0 auto;
	
}
