@import '_vars';
header, footer, section{
	padding: 100px 0;
};
header{
	padding: 200px 0;
}
header, footer{
	background: url(../img/pattern.png), linear-gradient(to right, $color1 0%, $color2 100%);
	background-size: contain;
}
.itd_play{
	background-color: $color1;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 30px auto;
	transition: all 0.2s easy;
	&:hover{
		background-color: $color2;
	}
}
.itd_triangle {
	margin-right: -4px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 20px;
	border-color: transparent transparent transparent var(--bs-white);
}
.btn-itd{
	display: block;
	max-width: 200px;
	margin: 0 auto;
	padding: 8px 30px;
	color: var(--bs-white);
	background-color: $color2;
	&:hover{
		color: white;
		background-color: $color1;
	}
}
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; }
	.modal-dialog{
		flex-grow: 1;
	}
.colorh2{
	color: $color1;
	margin-bottom: 2rem;
}
.colorh3{
	color: $color2;
	margin-bottom: 2rem;
}
.itd_circle{
	border: solid 3px $color2;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 0.5rem;
}
i {
	color: $color2;
	font-size: 20px;
}
.line{
	width: 100px;
	height: 3px;
	background-color: $color1;
	margin: 15px auto 30px ;
}
.about{
	background-color: $color3;
}
.itd_block_h5{
	border: solid 3px $color1;
	padding: 50px;
}
.accordion-button:not(.collapsed){
	color:	white;
	background-color: $color2;
}
.accordion-button:not(.collapsed)::after{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}
.itd_img{
	max-width: 260px;
	height: 100%;
}
.itdpb{
	padding: 100px 0 0 0; 
}
.itd_ot{
	margin: 0 auto;
	border: 3px solid $color1;
	border-radius: 50%;
}
.line_bg{
	border-bottom: solid 3px $color2;
	width: 100px;
	margin: 0 auto;
}
.btn-itd2{
	@extend .btn-itd;
	background-color: $color1;
}
.icon-mod{
	color: white;
	
}
.itd_circle2{
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	&:hover{
		.icon-mod{
		color: black;
		}
	}
}
footer{
	padding: 30px 0;
}
.checkout{
	height: 500px;
	&_wrapper{
		height: 500px;
	}
}
